{% extends "static/template.html" %}
{% block title %} League Table{% endblock %}

{% block body %}

    <table>
    {% for position in range(1, 20 + 1) %}
        <tr>
            <td>{{ table[position|string]['club'] }}</td>
            <td>{{ table[position|string]['won'] }}</td>
            <td>{{ table[position|string]['drawn'] }}</td>
            <td>{{ table[position|string]['lost'] }}</td>
            <td>{{ table[position|string]['ga'] }}</td>
            <td>{{ table[position|string]['gd'] }}</td>
            <td>{{ table[position|string]['gf'] }}</td>
            <td>{{ table[position|string]['played'] }}</td>
            <td>{{ table[position|string]['points'] }}</td>
        </tr>
    {% endfor %}
    </table>

{% endblock %}
