{% extends "admin/base.html" %}

{% block custom_head %}
<script src="{{ url_for('static', filename='tinymce/tinymce.min.js') }}"></script>
<script type="text/javascript">
  tinymce.init({
    selector: '#text-area',
    height: '300px'
  });
</script>
{% endblock custom_head %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        {% include 'admin/sidebar.html' %}

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                <h1 class="h2">Create new article</h1>
            </div>
            <form method="post" action="{{ url_for('new_article') }}">
                <input class="form-control form-control-lg mb-3" type="text" id="title" placeholder="Insert your title here" name="title">
                <textarea id="text-area" name="body"></textarea>
                <button class="btn btn-primary mt-3" type="submit">Publish</button>
            </form>
        </main>
    </div>
</div>
{% endblock content %}

{% block custom_scripts %}
{% endblock custom_scripts %}