{% extends "admin/base.html" %}

{% block custom_head %}
{% endblock custom_head %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        {% include 'admin/sidebar.html' %}

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                <h1 class="h2">Users</h1>
            </div>
            <div class="row">
                {% for user in users %}
                    {% if current_user.id != user.id %}
                        <div class="col-md-6">
                            <div class="card mb-4 box-shadow">
                                <div class="card-body">
                                    <img src="http://hefefertilizer.com/img/users/alvaro.jpeg"
                                         class="rounded float-left mr-3"
                                         width="100px" alt="profile picture">
                                    <h2 class="card-title">{{ user.real_name }}</h2>
                                    <h6 class="card-subtitle mb-3 text-muted">{{ user.email }}</h6>
                                    <div class="d-flex justify-content-end align-items-center">
                                        <div>
                                            {% if not user.is_editor %}
                                            <a href="{{ url_for('users_overview') }}?editor={{ user.id }}"
                                               class="btn btn-sm btn-outline-primary mr-2">
                                                <i class="fas fa-pencil-alt"></i> Make user editor
                                            </a>
                                            {% else %}
                                            <a href="{{ url_for('users_overview') }}?noteditor={{ user.id }}"
                                               class="btn btn-sm btn-outline-danger mr-2">
                                                <i class="fas fa-pencil-alt"></i> Remove editor rights
                                            </a>
                                            {% endif %}
                                            <a href="#"
                                               class="btn btn-sm btn-outline-danger">
                                                <i class="fas fa-times"></i> Block user
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}

            </div>
        </main>
    </div>
</div>
{% endblock content %}

{% block custom_scripts %}
{% endblock custom_scripts %}