{% extends "base.html" %}

{% block custom_head %}
{% endblock custom_head %}

{% block content %}

<section>
    <div class="container py-5">
        <div class="row justify-content-center py-5">
            <div class="text-center py-5">
                <div class="pb-4">
                    <h1 class="error"><i class="fas fa-map-signs"></i> 404 Not Found</i></h1>
                    <h3>Ooops! We've lost the ball and we can only apologise for this.</h3>
                </div>
                <a class="btn btn-primary my-1" href="{{ url_for('home') }}"><i class="fas fa-futbol"></i> Take me home</a>
                <a class="btn btn-secondary my-1" href="#"><i class="fas fa-life-ring"></i> Contact support</a>
            </div>
        </div>
    </div>
</section>

{% endblock content %}

{% block custom_scripts %}
{% endblock custom_scripts %}