{% extends "base.html" %}

{% block custom_head %}
{% endblock custom_head %}

{% block content %}

    <section class="bg-light py-5">
        <div class="container">
            <div class="row text-center">
                <img src="{{ url_for('static', filename='images/logo.svg') }}" width="100px" alt="The Final Whistle">
                <h3>About Us</h3>
                <p>

                </p>
            </div>
        </div>
    </section>

{% endblock content %}

{% block custom_scripts %}
{% endblock custom_scripts %}