{% extends "base.html" %}

{% block custom_head %}
{% endblock custom_head %}

{% block content %}

    <section class="bg-light py-5">
        <div class="container">
            <div class="row text-center">
                <div class="container">
                    <img src="{{ url_for('static', filename='images/logo.svg') }}" width="100" alt="The Final Whistle">
                    <h3 class="py-3">About The Final Whistle</h3>
                </div>

                <div class="container text-justify">

                    <div class="row">
                        The Final Whistle is a year 2 group software project of Group 19 from the University of Liverpool. The
                        page you are currently visiting is a temporary website created to showcase the results of the project.
                    </div>
                    <div class="row mt-2">
                        <a class="btn btn-primary" target="_blank" href="https://intranet.csc.liv.ac.uk/teaching/modules/module.php?code=COMP208" role="button">COMP208 Module Information</a>
                    </div>
                    <div class="row mt-2">
                        <a class="btn btn-primary" target="_blank" href="https://www.liverpool.ac.uk/">University of Liverpool</a>
                    </div>

                </div>
            </div>
        </div>
    </section>

{% endblock content %}

{% block custom_scripts %}
{% endblock custom_scripts %}