{% extends "base.html" %}

{% block custom_head %}
{% endblock custom_head %}

{% block content %}

<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-left">
                    <div class="text-center py-3">
                        <img class="my-3" src="http://hefefertilizer.com/img/users/alvaro.jpeg" style="border-radius: 100px; width:130px;">
                        <h2>{{ current_user.username }}</h2>
                    </div>
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#profile" role="tab" aria-controls="v-pills-home" aria-selected="true"><i class=""></i><i class="fas fa-user-circle pr-2"></i> Profile</a>
                        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#change-image" role="tab" aria-controls="v-pills-profile" aria-selected="false"><i class="fas fa-image pr-2"></i> Change image</a>
                        <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#change-password" role="tab" aria-controls="v-pills-messages" aria-selected="false"><i class="fas fa-lock pr-2"></i> Change password</a>
                        <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#help" role="tab" aria-controls="v-pills-settings" aria-selected="false"><i class="far fa-question-circle pr-2"></i> Help</a>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="profile-right tab-content" id="v-pills-tabContent">

                    <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile">
                        <form method="post" id="form-change-profile" action="" enctype="multipart/form-data">
                            <div class="form-group row">
                                <label for="email" class="col-sm-3 col-form-label">Email</label>
                                <div class="col-sm-9">
                                    <input type="text" readonly class="form-control-plaintext" id="email" value="{{ current_user.email }}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="username" class="col-sm-3 col-form-label">Username</label>
                                <div class="col-sm-9">
                                    <input type="text" readonly class="form-control-plaintext" id="username" value="{{ current_user.username }}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="real_name" class="col-sm-3 col-form-label">Real name</label>
                                <div class="col-sm-9">
                                    {{ profile_form.real_name(class="form-control", id="real_name") }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="favourite-team" class="col-sm-3 col-form-label">
                                    Favourite Team <i class="fas fa-question-circle" data-toggle="tooltip" data-placement="right" title="If you select your favourite team, the Final Whistle's colour palette will change to your team's one."></i>
                                </label>
                                <div class="col-sm-9">
                                    {{ profile_form.favourite_team(class="form-control", id="favourite-team") }}
                                </div>
                            </div>
                            {{ profile_form.submit(class='btn btn-primary', id='save-profile') }}
                            {{ profile_form.csrf_token }}
                            <a class="btn btn-secondary" href="{{ url_for('edit_profile') }}" role="button">Cancel</a>
                        </form>
                    </div>

                    <div class="tab-pane fade" id="change-image" role="tabpanel" aria-labelledby="change-image">
                        <img id="preview" style="display:block; margin:0 auto; width:200px;" src="//hefefertilizer.com/img/users/alvaro.jpeg">
                        <hr>
                        <form method="post" id="change-image" action="" enctype="multipart/form-data">
                            <div class="input-group mb-3">
                                <div class="custom-file">
                                    <label class="custom-file-label" for="image" id="image-label">Choose file</label>
                                    <input type="file" class="custom-file-input" id="image">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary" id="save-profile"> Save settings</button>
                        </form>
                    </div>

                    <div class="tab-pane fade" id="change-password" role="tabpanel" aria-labelledby="change-password">
                        <form method="post" id="form-change-password" action="" enctype="multipart/form-data">
                            <div class="form-group">
                                <!--<label class="control-label">Old password</label>-->
                                <!--<input type="password" id="old-password" name="old-password" class="form-control">-->
                                {{ password_form.current_pw.label(class='control-label', for='old-password') }}
                                {{ password_form.current_pw(id='old-password', class='form-control') }}
                            </div>
                            <hr>
                            <div class="form-group">
                                <!--<label class="control-label">New password</label>-->
                                <!--<input type="password" id="new-password" name="new-password" class="form-control">-->
                                {{ password_form.new_pw.label(class='control-label', for='new-password') }}
                                {{ password_form.new_pw(id='new-password', class='form-control') }}
                            </div>
                            <div class="form-group">
                                <!--<label class="control-label">Repeat password</label>-->
                                <!--<input type="password" id="repeat-password" name="repeat-password" class="form-control">-->
                                {{ password_form.new_pw_repeat.label(class='control-label', for='repeat-password') }}
                                {{ password_form.new_pw_repeat(id='repeat-password', class='form-control') }}
                            </div>
                            {{ password_form.submit(class='btn btn-primary', id='update-password') }}
                            {{ password_form.csrf_token }}
                            <!--<button type="submit" class="btn btn-primary" id="update-password">Update password</button>-->
                        </form>
                    </div>

                    <div class="tab-pane fade" id="help" role="tabpanel" aria-labelledby="help">
                        <div class="text-center py-3 heading">
                            <img class="py-2" src="{{ url_for('static', filename='images/logo.svg') }}" alt="The Final Whistle" width="100px">
                            <h2>The Final Whistle</h2>
                        </div>
                        If you need help or have any issues with your account, please contact us through the
                        <a href="{{ url_for('contact_us') }}">Contact Us</a> page.
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}

{% block custom_scripts %}
<script type="text/javascript">
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });

    $('#image').on('change',function(){
        var filename = $(this).val().split('\\').pop();
        $('#image-label').html(filename);
    });

    var favouriteTeam = {{ current_user.supported_team_id }};
    $('#favourite-team').val(favouriteTeam).change();

</script>
{% endblock custom_scripts %}