
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Group 19 - Computer Science. The University of Liverpool">
    <link rel="icon" href="../../../../favicon.ico">

    <title>The Final Whistle</title>

    <!-- Bootstrap and main CSS -->
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='fontawesome/css/fontawesome-all.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rambla|Roboto:300,400,700" rel="stylesheet">

    <!-- Page unique styles -->
    {% block custom_head %}{% endblock %}

</head>

<body>

<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark box-shadow">
        <div class="container">
            <a class="navbar-brand logo" href="{{ url_for('home') }}">
                <img src="{{ url_for('static', filename='images/logo.svg') }}">
                <span>The Final Whistle</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('home') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('league_table') }}">League Table</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('matches_overview') }}">Matches</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('players_overview') }}">Players</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('teams_overview') }}">Teams</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('news_overview') }}">News</a>
                    </li>
                    {% if current_user.is_authenticated %}
                        <div class="dropdown">
                            <button class="btn btn-sm btn-secondary dropdown-toggle my-1 ml-3" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-user-circle"></i> Hi {{ current_user.username }}
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="{{ url_for('edit_profile') }}">Account</a>
                                <a class="dropdown-item" href="{{ url_for('admin_overview') }}">Dashboard</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ url_for('logout') }}">Sign out</a>
                            </div>
                        </div>
                    {% else %}
                        <a class="btn btn-sm btn-secondary mx-2 my-1" href="{{ url_for('login') }}">Log in</a>
                        <a class="btn btn-sm btn-primary my-1" href="{{ url_for('register') }}">Register</a>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>

{% block content %}{% endblock %}

<footer class="text-muted">
    <div class="container">
        <p class="float-right">
            <a href="#"><i class="fas fa-arrow-up"></i> Back to top</a>
        </p>
        <p>&copy; {{ current_year }} – The Final Whistle</p>
    </div>
</footer>

<!-- Bootstrap core JavaScript & JQuery -->
<script src="{{ url_for('static', filename='popper/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='jquery/jquery-3.2.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>

<!-- Page unique scripts -->
{% block custom_scripts %}{% endblock %}

</body>
</html>
