{% extends "base.html" %}

{% block custom_head %}
{% endblock custom_head %}

{% block content %}
<div class="container py-4">

    <div class="pb-4">
        <h1 class="mb-0">Compare Players</h1>
        <h4 class="text-muted font-weight-light">Season 2017/18</h4>
    </div>

    <div class="container">
        {% if stats['error'] is not none %}
            {% if stats['error']|length > 0 %}
                <div class="alert alert-danger" role="alert">
                    {{ stats['error'] }}
                </div>
            {% endif %}
        {% endif %}
    </div>

    <form method="get">
        <div class="form-row">
            <div class="col-10">
                <div class="form-row">
                    <div class="col-6">
                        <select name="p1" class="form-control">
                            <option value="" selected disabled>Select Player</option>
                            {% for player in players %}
                                <option value="{{ player['id'] }}">{{ player['name'] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-6">
                        <select name="p2" class="form-control">
                            <option value="" selected disabled>Select Player</option>
                            {% for player in players %}
                                <option value="{{ player['id'] }}">{{ player['name'] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-2 text-right">
                <input type="submit" class="btn btn-primary btn-block" value="Compare" />
            </div>
        </div>
    </form>

    {% if stats['error'] is not none and stats['error']|length == 0 %}

        <div class="row">

            <div class="col-sm">

                <div class="text-center py-5">
                    <img src="{{stats['player1']['img']}}" width="250" alt="{{ stats['player1']['name'] }}" />
                    <h2 class="heading pt-4">{{ stats['player1']['name'] }}</h2>
                </div>

                <div class="card mb-4">
                    <div class="card-header text-center">
                        <h5 class="mb-0">Player Information</h5>
                    </div>
                    <table class="table mb-0">
                        <tr>
                            <th scope="row">Shirt Number</th>
                            <td>{{ stats['player1']['shirt_number'] }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Team</th>
                            <td>{{ stats['player1']['team'] }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Position</th>
                            <td>{{ stats['player1']['position'] }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Date of Birth</th>
                            <td>{{ stats['player1']['dob'] }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Weight</th>
                            <td>{{ stats['player1']['weight'] }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Height</th>
                            <td>{{ stats['player1']['height'] }}</td>
                        </tr>
                    </table>
                </div>

                <div class="card mb-4">
                    <div class="card-header text-center">
                        <h5 class="mb-0">Player Statistics</h5>
                    </div>
                    <div class="px-md-5">
                        <div class="px-lg-5 my-3">
                            <canvas id="stats-1" height="250"></canvas>
                        </div>
                    </div>
                    <table class="table mb-0">
                        <tr>
                            <th scope="row">Goals Scored</th>
                            <td>{{ stats['player1']['goals_scored'] }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Goals Assisted</th>
                            <td>{{ stats['player1']['goals_assisted'] }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Yellow Cards</th>
                            <td>{{ stats['player1']['yellow_cards'] }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Red Cards</th>
                            <td>{{ stats['player1']['red_cards'] }}</td>
                        </tr>
                    </table>
                </div>

            </div>

            <div class="col-sm">
                <div class="text-center py-5">
                    <img src="{{stats['player2']['img']}}" width="250" alt="{{ stats['player2']['name'] }}"/>
                    <h2 class="heading pt-4">{{ stats['player2']['name'] }}</h2>
                </div>

                    <div class="card mb-4">
                        <div class="card-header text-center">
                            <h5 class="mb-0">Player Information</h5>
                        </div>
                        <table class="table mb-0">
                            <tr>
                                <th scope="row">Shirt Number</th>
                                <td>{{ stats['player2']['shirt_number'] }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Team</th>
                                <td>{{ stats['player2']['team'] }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Position</th>
                                <td>{{ stats['player2']['position'] }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Date of Birth</th>
                                <td>{{ stats['player2']['dob'] }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Weight</th>
                                <td>{{ stats['player2']['weight'] }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Height</th>
                                <td>{{ stats['player2']['height'] }}</td>
                            </tr>
                        </table>
                    </div>

                    <div class="card mb-4">
                        <div class="card-header text-center">
                            <h5 class="mb-0">Player Statistics</h5>
                        </div>
                        <div class="px-md-5">
                            <div class="px-lg-5 my-3">
                                <canvas id="stats-2" height="250"></canvas>
                            </div>
                        </div>
                        <table class="table mb-0">
                            <tr>
                                <th scope="row">Goals Scored</th>
                                <td>{{ stats['player2']['goals_scored'] }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Goals Assisted</th>
                                <td>{{ stats['player2']['goals_assisted'] }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Yellow Cards</th>
                                <td>{{ stats['player2']['yellow_cards'] }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Red Cards</th>
                                <td>{{ stats['player2']['red_cards'] }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    {% else %}

    <div class="text-center text-muted py-5">
        <div class="py-5">
            <div class="py-5">
                <h3 class="py-5 font-weight-light"><i class="fas fa-arrow-up mr-3"></i> Please select two players to compare their details <i class="fas fa-arrow-up ml-3"></i></h3>
            </div>
        </div>
    </div>

    {% endif %}


{% block custom_scripts %}
    {% if stats['error'] is not none and stats['error']|length == 0 %}
        <script src="{{ url_for('static', filename='chartjs/chart.min.js') }}"></script>

        <script>
            var stats1 = document.getElementById('stats-1').getContext('2d');
            stats1.width = 200;
            var stats1chart = new Chart(stats1, {
                // The type of chart we want to create
                type: 'bar',

                // The data for our dataset
                data: {
                    labels: ["Goals Scored", "Goals Assisted"],
                    datasets: [{
                        label: "goals",
                        fillColor: "#34495e",
                        borderColor: "#34495e",
                        backgroundColor: "#34495e",
                        pointBackgroundColor: "#55bae7",
                        pointBorderColor: "#55bae7",
                        pointHoverBackgroundColor: "#55bae7",
                        pointHoverBorderColor: "#55bae7",
                        data: [{{ stats['player1']['goals_scored'] }}, {{ stats['player1']['goals_assisted'] }}],
                    }]
                },

                // Configuration options go here
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    scales: {
                        yAxes: [{
                            ticks: {
                                fixedStepSize: 1,
                                beginAtZero: true,
                                max: {{ max_number([stats['player1']['goals_scored'], stats['player2']['goals_scored'], stats['player1']['goals_assisted'], stats['player2']['goals_assisted'] ]) }}
                            }
                        }],
                    },
                }
            });

            var stats2 = document.getElementById('stats-2').getContext('2d');
            stats2.width = 200;
            var stats2chart = new Chart(stats2, {
                // The type of chart we want to create
                type: 'bar',

                // The data for our dataset
                data: {
                    labels: ["Goals Scored", "Goals Assisted"],
                    datasets: [{
                        label: "goals",
                        fillColor: "#34495e",
                        borderColor: "#34495e",
                        backgroundColor: "#34495e",
                        pointBackgroundColor: "#55bae7",
                        pointBorderColor: "#55bae7",
                        pointHoverBackgroundColor: "#55bae7",
                        pointHoverBorderColor: "#55bae7",
                        data: [{{ stats['player2']['goals_scored'] }}, {{ stats['player2']['goals_assisted'] }}],
                    }]
                },

                // Configuration options go here
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    scales: {
                        yAxes: [{
                            ticks: {
                                fixedStepSize: 1,
                                beginAtZero: true,
                                max: {{ max_number([stats['player1']['goals_scored'], stats['player2']['goals_scored'], stats['player1']['goals_assisted'], stats['player2']['goals_assisted'] ]) }}
                            }
                        }],
                    },
                }
            });
        </script>
    {% endif %}
{% endblock custom_scripts %}

{% endblock content %}
