{% extends "base.html" %}

{% block custom_head %}
    <link href="{{ url_for('static', filename='login.css') }}" rel="stylesheet">
    <meta name="google-signin-client_id" content="796562272720-qtn5enjj3iqb1g2p3ubh4cnlpqfn3au1.apps.googleusercontent.com">
{% endblock custom_head %}

{% block content %}
    {% from 'macros.jinja' import form_input_render_errors %}
    <section class="bg-light py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <h2 class="">Forgot your password?</h2>
                    <hr>
                    <p>
                        Please introduce the email you used to register in The Final Whistle. We will send you a recovery email to your email address.
                    </p>
                    <form method="POST" action="">
                        <div class="form-group">
                            <label for="password">Email</label>
                            <input class="form-control" id="email" name="email" placeholder="Email" type="text" value="">
                        </div>
                        <input class="btn btn-primary" id="submit" name="submit" type="submit" value="Submit">
                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}

{% block custom_scripts %}
{% endblock custom_scripts %}