{% extends "base.html" %}

{% block content %}
<main role="main">

    <section class="jumbotron banner-1" style="background-image: url({{ url_for('static', filename='images/stadium.jpg') }});">
        <div class="container">
            <div class="card box-shadow" style="background: rgba(255,255,255,0.8);">
                <div class="card-body">
                    <img src="(src home team">
                    <h2 class="font-weight-light">Home Team 2 -- 5 Away Team</h2>
                    <img src="(src away team">
                    <a href="(link to match details)">View match</a>
                </div>
            </div>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row">
                <div class="col-md-8">

                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" data-src="holder.js/100px450?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <button type="button" class="btn btn-sm btn-outline-primary"><i class="fas fa-plus"></i> Read more...</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary"><i class="fas fa-comment"></i> 3 comments</button>
                                </div>
                                <small class="text-muted">9 mins ago</small>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" data-src="holder.js/100px450?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>

                    <div class="card mb-4 box-shadow">
                        <div class="card-body">
                            <p class="card-text">
                            <h5 class="card-title">Last 5 Matches</h5>
                                <table class="table">
                                {% for match in matches %}
                                    {% if match['indicator'] == 0 %}
                                    <tr>
                                    {% else %}
                                    <tr class="no-border-top">
                                    {% endif %}
                                        <td>
                                            {% if match['indicator'] == 0 %}
                                                {{ match['kickoff_date'] }}
                                            {% endif %}
                                        </td>
                                        <td class="text-right align-middle"> {{ match['home_team'] }} </td>
                                        <td class="text-center align-middle">
                                            <img height="50" src="{{ match['home_crest'] }}" alt="{{ match['home_team'] }}" />
                                        </td>
                                        <td class="text-center align-middle">
                                            {{ match['home_goals'] }} : {{ match['away_goals'] }}
                                        </td>
                                        <td class="text-center align-middle">
                                            <img height="50" src="{{ match['away_crest'] }}" alt="{{ match['home_team'] }}" />
                                        </td>
                                        <td class="text-left align-middle">{{ match['away_team'] }}</td>
                                        <td class="align-middle">
                                            <a class="btn btn-sm btn-outline-primary" href="{{ url_for('match_page', id=match['match_id'])}}">
                                                <i class="fas fa-arrow-right"></i> Details
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </table>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <div class="card-body">
                            <h5 class="card-title">League Table</h5>
                            <table class="table table-sm table-hover mb-0">
                                <thead>
                                    <td scope="col"></td>
                                    <td scope="col">Team</td>
                                    <td scope="col" class="text-right">P</td>
                                    <td scope="col" class="text-right">GD</td>
                                    <td scope="col" class="text-right">Pts</td>
                                </thead>
                                <tbody>
                                    {% for position in range(1, table|length + 1) %}
                                    <tr>
                                        <td scope="row">{{ position }}.</td>
                                        <td>
                                            <a href="{{ url_for('team_page', id=table[position|string]['club_id']) }}">
                                                {{ table[position|string]['club_short'] }}
                                            </a>
                                        </td>
                                        <td class="text-right">{{ table[position|string]['played'] }}</td>
                                        <td class="text-right">{{ table[position|string]['gd'] }}</td>
                                        <td class="text-right">{{ table[position|string]['points'] }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

{% endblock %}