{% extends "base.html" %}

{% block content %}
<main>

    <section class="banner banner-1 d-none d-lg-block" style="background-image: url({{ url_for('static', filename='images/stadium.jpg') }});">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="card box-shadow" style="background: rgba(255,255,255,0.8);">
                        <div class="card-body text-center p-4">
                            <img height="70" src="{{ last_match['home_crest'] }}" alt="{{ last_match['home_team'] }}" />
                            <h1 class="heading d-inline mb-0 px-3 align-middle"> {{last_match['home_team']}} </h1>
                            <h1 class="font-weight-light d-inline mb-0 align-middle"> {{ last_match['home_goals'] }} : {{ last_match['away_goals'] }} </h1>
                            <h1 class="heading d-inline mb-0 px-3 align-middle"> {{last_match['away_team']}} </h1>
                            <img height="70" src="{{ last_match['away_crest'] }}" alt="{{ last_match['away_team'] }}" />
                            <div>
                                <a class="btn btn-outline-dark mt-3" href="{{ url_for('match_page', id=last_match['match_id'])}}">
                                    View match <i class="fas fa-futbol"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row">
                <div class="col-lg-8">
                    <div class="card mb-4 box-shadow">
                        <div class="card-body">
                            <h5 class="card-title mb-0">Last matches</h5>
                        </div>
                        <table class="table mb-0">
                        {% for match in matches %}
                            {% if match['indicator'] == 0 %}
                            <tr>
                            {% else %}
                            <tr class="no-border-top">
                            {% endif %}
                                <td>
                                    {% if match['indicator'] == 0 %}
                                        {{ match['kickoff_date'] }}
                                    {% endif %}
                                </td>
                                <td class="text-right align-middle"> {{ match['home_team'] }} </td>
                                <td class="text-center align-middle">
                                    <img height="50" src="{{ match['home_crest'] }}" alt="{{ match['home_team'] }}" />
                                </td>
                                <td class="text-center align-middle">
                                    <h3 class="font-weight-light mb-0">{{ match['home_goals'] }} : {{ match['away_goals'] }}</h3>
                                </td>
                                <td class="text-center align-middle">
                                    <img height="50" src="{{ match['away_crest'] }}" alt="{{ match['home_team'] }}" />
                                </td>
                                <td class="text-left align-middle">{{ match['away_team'] }}</td>
                                <td class="align-middle">
                                    <a class="btn btn-sm btn-outline-primary" href="{{ url_for('match_page', id=match['match_id'])}}">
                                        <i class="fas fa-arrow-right"></i> Details
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </table>
                    </div>

                    {% from 'macros.jinja' import render_article_overview %}
                    {% for article in news %}
                        {{ render_article_overview(article) }}
                    {% endfor %}

                </div>

                <div class="col-lg-4">
                    <div class="card mb-4 box-shadow">
                        <div class="card-body">
                            <h5 class="card-title">League Table</h5>
                            <table class="table table-sm table-hover mb-0">
                                <thead>
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col"> Team</th>
                                        <th scope="col" class="text-right">P</th>
                                        <th scope="col" class="text-right">GD</th>
                                        <th scope="col" class="text-right">Pts</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for position in range(1, table|length + 1) %}
                                    <tr>
                                        <td>{{ position }}.</td>
                                        <td>
                                            <a href="{{ url_for('team_page', id=table[position|string]['club_id']) }}">
                                                {{ table[position|string]['club_short'] }}
                                            </a>
                                        </td>
                                        <td class="text-right">{{ table[position|string]['played'] }}</td>
                                        <td class="text-right">{{ table[position|string]['gd'] }}</td>
                                        <td class="text-right">{{ table[position|string]['points'] }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

{% endblock %}