{% extends "base.html" %}

{% block custom_head %}
{% endblock custom_head %}

{% block content %}

<div class="container">
    <div class="row">
        <h1>League Table</h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Team</th>
                    <th scope="col">Played</th>
                    <th scope="col">Won</th>
                    <th scope="col">Drawn</th>
                    <th scope="col">Lost</th>
                    <th scope="col">For</th>
                    <th scope="col">Against</th>
                    <th scope="col">GD</th>
                    <th scope="col">Points</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1.</th>
                    <tr>Liverpool FC</tr>
                    <td>34</td>
                    <td>20</td>
                    <td>10</td>
                    <td>4</td>
                    <td>78</td>
                    <td>35</td>
                    <td>43</td>
                    <td>70</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% block custom_scripts %}
{% endblock custom_scripts %}

{% endblock content %}