{% extends "base.html" %}

{% block custom_head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='datatables/datatables.min.css') }}"/>
{% endblock custom_head %}

{% block content %}

<div class="container py-4">
    <div class="pb-4">
        <h1 class="mb-0">League Table</h1>
        <h4 class="text-muted font-weight-light">Season 2017/18</h4>
    </div>
    <table class="table table-responsive-md">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Team</th>
                <th scope="col" class="text-center">Played</th>
                <th scope="col" class="text-center">Won</th>
                <th scope="col" class="text-center">Drawn</th>
                <th scope="col" class="text-center">Lost</th>
                <th scope="col" class="text-center">For</th>
                <th scope="col" class="text-center">Against</th>
                <th scope="col" class="text-center">GD</th>
                <th scope="col" class="text-center">Points</th>
            </tr>
        </thead>
        <tbody>
            {% for position in range(1, table|length + 1) %}
                <tr>
                    <th scope="row">{{ position }}.</th>
                    <td>
                        <a href="{{ url_for('team_page', id=table[position|string]['club_id']) }}">
                            {{ table[position|string]['club'] }}
                        </a>
                    </td>
                    <td class="text-center">{{ table[position|string]['played'] }}</td>
                    <td class="text-center">{{ table[position|string]['won'] }}</td>
                    <td class="text-center">{{ table[position|string]['drawn'] }}</td>
                    <td class="text-center">{{ table[position|string]['lost'] }}</td>
                    <td class="text-center">{{ table[position|string]['gf'] }}</td>
                    <td class="text-center">{{ table[position|string]['ga'] }}</td>
                    <td class="text-center">{{ table[position|string]['gd'] }}</td>
                    <td class="text-center">{{ table[position|string]['points'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% block custom_scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='datatables/datatables.min.js') }}"></script>
{% endblock custom_scripts %}

{% endblock content %}