{% extends "base.html" %}

{% block custom_head %}
{% endblock custom_head %}

{% block content %}
<div class="container">
    <div class="row">

        <h1>Matches</h1>

        <table class="table">
            {% for match in data %}
            <tr>
                <th>{{ match['home_team'] }}</th>
                <th><img height="50" src="{{ match['home_crest'] }}" /></th>
                <th>{{ match['home_goals'] }} : {{ match['away_goals'] }}</th>
                <th><img height="50" src="{{ match['away_crest'] }}" /></th>
                <th>{{ match['away_team'] }}</th>
                <th scope="row"><a href="{{ url_for('match_page', id=match['match_id'])}}">Details</a></th>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>


{% block custom_scripts %}
{% endblock custom_scripts %}

{% endblock content %}
