{% extends "base.html" %}

{% block custom_head %}
<style>
.detailBox {width:100%;}
.commentBox {border-bottom:3px #ccc solid; margin:1em;}
.commentBox .form-group:first-child, .actionBox .form-group:first-child {width:100%;}
.commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {width:10em;}
.actionBox .form-group * { width:100%; }
.taskDescription { margin-top:0.5em 0; }
.commentList { padding:0; list-style:none;}
.commentList li { margin:0; margin-top:0.5em; }
.commentList li > div { display:table-cell; }
.commenterImage { width:40px; margin-right:5px; height:100%; float:left; }
.commenterImage img { width:100%;}
.commentText p { margin:0; }
.sub-text { color:#aaa; font-size:0.80em; }
.actionBox { padding:0.75em; }
</style>
{% endblock custom_head %}

{% block content %}

<div class="container py-4">

    {% if confirmation['error'] is not none %}
        <div class="alert alert-danger" role="alert">
            {{ confirmation['error'] }}
        </div>
    {% endif %}

    {% if confirmation['success'] is not none %}
        <div class="alert alert-success" role="alert">
            {{ confirmation['success'] }}
        </div>
    {% endif %}

    <div class="row">

        <div class="container">
            <div class="row">
              <div class="col-sm text-center">
                  <img height="20" src="{{ url_for('static', filename='images/whistle.svg') }}">
                {{ match['referee'] }}
              </div>
              <div class="col-sm text-center">
                  <img height="20" src="{{ url_for('static', filename='images/clock.svg') }}">
                  {{ match['kickoff_date'] }} {{ match['kickoff_time'] }}
              </div>
              <div class="col-sm text-center">
                  <img height="20" src="{{ url_for('static', filename='images/stadium.svg') }}">
                  {{ match['stadium'] }}
              </div>
            </div>

        </div>

        <div class="container py-5">
            <div class="row">
                <div class="col-sm text-center">
                    <img height="100" src="{{ match['home_crest'] }}" />
                    <h2>{{ match['home_team'] }}</h2>
                </div>
                <div class="col-sm text-center">
                    <h1>{{ match['home_goals'] }} : {{ match['away_goals'] }}</h1>
                </div>
                <div class="col-sm text-center">
                    <img height="100" src="{{ match['away_crest'] }}" />
                    <h2>{{ match['away_team'] }}</h2>
                </div>
            </div>
        </div>

        <div class="container pb-5">
            <div class="row">
                <div class="col">

                    {% for goal in match['home_scoring_players'] %}
                    <div class="row justify-content-start">
                        <div class="col-1">
                            <img height="20" src="{{ url_for('static', filename='images/ball.svg') }}">
                        </div>
                        <div class="col-5">
                            {{ goal['scorer'] }}
                        </div>
                        <div class="col-2">
                            {{ goal['minute'] }}
                            {% if goal['own_goal'] %}
                            (og)
                            {% endif %}
                            {% if goal['penalty'] %}
                            (pen)
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}

                </div>

                <div class="col">

                    {% for goal in match['away_scoring_players'] %}
                    <div class="row justify-content-end">
                        <div class="col-1">
                            <img height="20" src="{{ url_for('static', filename='images/ball.svg') }}">
                        </div>
                        <div class="col-5">
                            {{ goal['scorer'] }}
                        </div>
                        <div class="col-2">
                            {{ goal['minute'] }}
                            {% if goal['own_goal'] %}
                            (og)
                            {% endif %}
                            {% if goal['penalty'] %}
                            (pen)
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
        <div class="container">
            <div class="card my-2">
                <div class="card-header">
                    <h4>Match Statistics</h4>
                </div>
                <div class="card-body">
                    <table class="table text-center">
                        {% for statistic in statistics %}
                            <tr>
                                <td>{{ match['home_team_stats'][statistic] }}</td>
                                <td>{{ statistic }}</td>
                                <td>{{ match['away_team_stats'][statistic] }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="commentBox">
            <div class="container p-2">
                <div class="alert alert-secondary" role="alert">
                    <h4>The Final Whistle Comment Policy</h4>
                    <p class="taskDescription">
                        We welcome relevant (stay on topic), respectful comments. Comments with links require
                        approval before being published.
                    </p>
                </div>
            </div>
        </div>
        <div class="actionBox">
            <ul class="commentList">
                {% if comments|length > 0 %}
                    {% for parent_comment in comments %}
                        <li>
                            <div class="commenterImage">
                              <img src="{{ url_for('static', filename='images/gravatar.jpg') }}" />
                            </div>
                            <div class="commentText">
                                <p class="">{{ parent_comment['body'] }}</p>
                                <span class="date sub-text">
                                    on {{ parent_comment['posted_at'] }} <a href="javascript:replyTo('comment{{parent_comment['id']}}')">Reply</a>
                                </span>
                            </div>
                        </li>
                        {% if parent_comment['children']|length > 0 %}
                            {% for child_comment in parent_comment['children'] %}
                                <li>
                                    <div class="commenterImage ml-5">
                                      <img src="{{ url_for('static', filename='images/gravatar.jpg') }}" />
                                    </div>
                                    <div class="commentText">
                                        <p class="">{{ child_comment['body'] }}</p>
                                        <span class="date sub-text">on {{ child_comment['posted_at'] }}</span>
                                    </div>
                                </li>
                            {% endfor %}
                            <li>
                                {% if current_user.is_authenticated %}
                                <form id="comment{{parent_comment['id']}}" class="form-inline ml-5" role="form" method="post" style="display:none;">
                                    <div class="form-group">
                                        <label style="justify-content: normal;" for="textarea">Message</label>
                                        <textarea class="form-control" id="textarea" name="message" rows="2"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-primary mb-2 mt-2">Post Message</button>
                                    </div>
                                    <input type="hidden" name="parent" value="{{parent_comment['id']}}">
                                    <input type="hidden" name="page_id" value="{{ match_id }}">
                                </form>
                                {% else %}
                                <div id="comment{{parent_comment['id']}}" class="alert alert-warning ml-5" role="alert" style="display:none;">
                                  Only registered users can post, please log in <a href="{{ url_for('login')}}">here</a>
                                </div>
                                {% endif %}
                            </li>
                        {% else %}
                            <li>
                                {% if current_user.is_authenticated %}
                                <form id="comment{{parent_comment['id']}}" class="form-inline" role="form" method="post" style="display:none;">
                                    <div class="form-group">
                                        <label style="justify-content: normal;" for="textarea">Message</label>
                                        <textarea class="form-control" id="textarea" name="message" rows="2"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-primary mb-2 mt-2">Post Message</button>
                                    </div>
                                    <input type="hidden" name="parent" value="{{parent_comment['id']}}">
                                    <input type="hidden" name="page_id" value="{{ match_id }}">
                                </form>
                                {% else %}
                                <div id="comment{{parent_comment['id']}}" class="alert alert-warning" role="alert" style="display:none;">
                                  Only registered users can post, please log in <a href="{{ url_for('login')}}">here</a>
                                </div>
                                {% endif %}
                            </li>
                        {% endif %}
                    {% endfor %}
                {% else %}
                <li><h5 class="ml-5"> No comments yet ...</h5></li>
                {% endif %}
            </ul>
        </div>

        <div class="actionBox">
            {% if current_user.is_authenticated %}
            <form class="form-inline" role="form" method="post">
                <div class="form-group">
                    <label style="justify-content: normal;" for="textarea">Message</label>
                    <textarea class="form-control" id="textarea" name="message" rows="2"></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary mb-2 mt-2">Post Message</button>
                </div>
                <input type="hidden" name="page_id" value="{{ match_id }}">
            </form>
            {% else %}
            <div class="alert alert-warning" role="alert">
              Only registered users can post, please log in <a href="{{ url_for('login')}}">here</a>
            </div>
            {% endif %}
        </div>
    </div>
</div>


{% block custom_scripts %}
<script>
function replyTo(id){ $("#"+id).css("display","block"); }
</script>
{% endblock custom_scripts %}

{% endblock content %}
