{% extends "base.html" %}

{% block custom_head %}
{% endblock custom_head %}

{% block content %}

<div class="container py-4">
    <div class="row">

        <h1>Match Details</h1>

        <table class="table text-center">
            <tr>
                <th scope="row">{{ match['home_team'] }}</th>
                <th><img height="50" src="{{ match['home_crest'] }}" /></th>
                <th>{{ match['home_goals'] }} : {{ match['away_goals'] }}</th>
                <th><img height="50" src="{{ match['away_crest'] }}" /></th>
                <th>{{ match['away_team'] }}</th>
            </tr>
        </table>

        <div class="container">
            <div class="row">
                <div class="col">
                    <table class="table">
                        {% for goal in match['home_scoring_players'] %}
                            <tr>
                                <td scope="row">{{ goal['scorer'] }}</td>
                                <td>{{ goal['minute'] }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="col">
                    <table class="table">
                        {% for goal in match['away_scoring_players'] %}
                            <tr>
                                <td scope="row">{{ goal['scorer'] }}</td>
                                <td>{{ goal['minute'] }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>


        <table class="table text-center">
            {% for statistic in statistics %}
                <tr>
                    <td>{{ match['home_team_stats'][statistic] }}</td>
                    <td>{{ statistic }}</td>
                    <td>{{ match['away_team_stats'][statistic] }}</td>
                </tr>
            {% endfor %}
        </table>

    </div>
</div>

{% block custom_scripts %}
{% endblock custom_scripts %}

{% endblock content %}
