{% extends "base.html" %}

{% block custom_head %}
{% endblock custom_head %}

{% block content %}

<section class="album bg-light">
    <div class="container pt-5">
        <div class="row">
            <div class="col-md-12">
                {% from 'macros.jinja' import render_article_overview %}
                {% for article in news %}
                    {{ render_article_overview(article) }}
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{% endblock content %}

{% block custom_scripts %}
{% endblock custom_scripts %}