{% extends "base.html" %}

{% block custom_head %}
<style>
    .number{ font-size:8em; font-weight:bold; float:right;}
</style>

{% endblock custom_head %}

{% block content %}

<div class="container py-4">

    <div class="row">
        <div class="col-sm">
            <div class="container">
                <div class="card mb-4" style="width: 18rem;">
                    <img class="card-img-top" src="{{data['img']}}" alt="Card image cap">
                    <div class="card-body text-center">
                        <h3 class="mb-0 heading">{{ data['name'] }}</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="container">
                <span class="number">{{ data['shirt_number'] }}</span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm">
            <div class="container">
                <div class="card mb-4">
                    <div class="card-header">
                        <h4 class="mb-0">Player Information</h4>
                    </div>
                    <table class="table mb-0">
                        <tr>
                            <th>Team</th>
                            <td>{{ data['team'] }}</td>
                        </tr>
                        <tr>
                            <th>Position</th>
                            <td>{{ data['position'] }}</td>
                        </tr>
                        <tr>
                            <th>Date of Birth</th>
                            <td>{{ data['dob'] }}</td>
                        </tr>
                        <tr>
                            <th>Weight</th>
                            <td>{{ data['weight'] }}</td>
                        </tr>
                        <tr>
                            <th>Height</th>
                            <td>{{ data['height'] }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-sm">
            <div class="container">
                <div class="card mb-4">
                    <div class="card-header">
                        <h4 class="mb-0">Player Statistics</h4>
                    </div>
                    <table class="table mb-0">
                        <tr>
                            <th>Goal Scored</th>
                            <td>{{ data['goals_scored'] }}</td>
                        </tr>
                        <tr>
                            <th>Goal Assisted</th>
                            <td>{{ data['goals_assisted'] }}</td>
                        </tr>
                        <tr>
                            <th>Yellow Cards</th>
                            <td>{{ data['yellow_cards'] }}</td>
                        </tr>
                        <tr>
                            <th>Red Cards</th>
                            <td>{{ data['red_cards'] }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block custom_scripts %}
{% endblock custom_scripts %}
