{% extends "base.html" %}

{% block custom_head %}
{% endblock custom_head %}

{% block content %}

<div class="container py-4">
    <div class="pb-4">
        <h1 class="mb-0">Players</h1>
        <h4 class="text-muted font-weight-light">Season 2017/18</h4>
    </div>
    <table class="table">
        {% for player in data %}
            <tr>
                <th scope="row" class="text-center"><img src="{{ player['img'] }}" width="50" alt="{{ player['name'] }}" /></th>
                <th style="vertical-align: middle;"><h2 class="font-weight-light text-center mb-0">{{ player['shirt_number'] }}</h2></th>
                <td style="vertical-align: middle;"><h5 class="font-weight-light mb-0"><a href="{{url_for('player_page', id=player['id'])}}"> {{ player['name'] }}</a></h5></td>
                <td style="vertical-align: middle;">{{ player['position'] }}</td>
            </tr>
        {% endfor %}
    </table>
</div>

{% endblock content %}

{% block custom_scripts %}
{% endblock custom_scripts %}