{% extends "base.html" %}

{% block custom_head %}
{% endblock custom_head %}

{% block content %}

<div class="container">
    <div class="row">
        <h1>Players</h1>
        <table class="table">
            {% for player in data %}
                <tr>
                    <th scope="row"><img src="{{ player['img'] }}" width="50" /></th>
                    <th>{{ player['shirt_number'] }}</th>
                    <th><a href="{{url_for('player_page', id=player['id'])}}"> {{ player['name'] }}</a></th>
                    <th>{{ player['position'] }}</th>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock content %}

{% block custom_scripts %}
{% endblock custom_scripts %}