{% extends "base.html" %}

{% block custom_head %}
{% endblock custom_head %}

{% block content %}

<div class="container py-4">
    <div class="pb-4">
        <h1 class="mb-0">Referees</h1>
        <h4 class="text-muted font-weight-light">Season 2017/18</h4>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Referee name</th>
                <th scope="col" class="text-right">Total Matches</th>
                <th scope="col" class="text-right">Yellow cards</th>
                <th scope="col" class="text-right">Red cards</th>
            </tr>
        </thead>
        {% for referee in referees %}
        <tbody>
            <tr>
                <td>{{ referee['name'] }}</td>
                <td class="text-right">{{ referee['matches'] }}</td>
                <td class="text-right">{{ referee['yellow'] }}</td>
                <td class="text-right">{{ referee['red'] }}</td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
</div>

{% endblock content %}

{% block custom_scripts %}
{% endblock custom_scripts %}