{% extends "base.html" %}

{% block custom_head %}
    <link href="{{ url_for('static', filename='login.css') }}" rel="stylesheet">
    <meta name="google-signin-client_id" content="796562272720-qtn5enjj3iqb1g2p3ubh4cnlpqfn3au1.apps.googleusercontent.com">
{% endblock custom_head %}

{% block content %}

    <section class="bg-light py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <h2 class="">Create an account</h2>
                    <hr>
                    <form method="POST" action="">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="email" class="form-control" id="name" name="name" placeholder="Enter your name">
                        </div>
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="username" class="form-control" id="username" name="username" placeholder="Enter your username">
                        </div>
                        <div class="form-group">
                            <label for="email">Email address</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                            <small id="passHelp" class="form-text text-muted">Your password should be at least X characters.</small>
                        </div>
                        <div class="form-group">
                            <label for="password2">Confirm password</label>
                            <input type="password2" class="form-control" id="password2" name="password2" placeholder="Confirm password">
                        </div>
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="agree-terms">
                            <label class="form-check-label" for="agree-terms">Please check this box to confirm you are over 13 and agree to the <a href="#">terms of service</a>.</label>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}

{% block custom_scripts %}
{% endblock custom_scripts %}