{% extends "base.html" %}

{% block custom_head %}
<style>
    .crest-card-image{height:10em}
</style>
{% endblock custom_head %}

{% block content %}
<div class="container py-4">
    <div class="pb-4">
        <h1 class="mb-0 heading">Teams</h1>
        <h4 class="text-muted font-weight-light">Season 2017/18</h4>
    </div>
    <div class="row">
        {% for team in data %}
        <div class="col-md-3">
            <div class="card mb-3 box-shadow">
                <div class="card-body text-center">
                    <img class="crest-card-image" src="{{ team['crestUrl'] }}" alt="{{ team['name'] }}">
                    <p class="card-text">
                        {{ team['name'] }}
                    </p>
                    <a href="{{url_for('team_page', id=team['team_id'])}}" class="btn btn-primary">See Profile</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}

{% block custom_scripts %}
{% endblock custom_scripts %}
