{% extends "base.html" %}

{% block custom_head %}
{% endblock custom_head %}

{% block content %}

<div class="container py-4">
    <div class="pb-4">
        <h1 class="mb-0">Top 10 players in this season</h1>
        <h4 class="text-muted font-weight-light">Season 2017/18</h4>
    </div>

    <div class="row">
        <div class="col-sm">
            <div class="card mb-4">
                <div class="card-header text-center">
                    <h5 class="mb-0">Top 10 Goal Scorers</h5>
                </div>
                <table class="table mb-0">
                    <tbody>
                        {% for scorer in statistics['goal_scorers'] %}
                        <tr>
                            <td class="text-center" style="vertical-align: middle;"><img src="{{ scorer['image']}}" alt="{{ scorer['player'] }}" height="50"></td>
                            <td style="vertical-align: middle;"><h5 class="font-weight-light mb-0"><a href="{{url_for('player_page', id=scorer['id'])}}">{{ scorer['player'] }}</a></h5></td>
                            <td class="text-center" style="vertical-align: middle;">{{ scorer['goals'] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="card mb-4">
                <div class="card-header text-center">
                    <h5 class="mb-0">Top 10 Yellow Cards</h5>
                </div>
                <table class="table mb-0">
                    <tbody>
                        {% for scorer in statistics['yellow_cards'] %}
                        <tr>
                            <td class="text-center" style="vertical-align: middle;"><img src="{{ scorer['image']}}" alt="{{ scorer['player'] }}" height="50"></td>
                            <td style="vertical-align: middle;"><h5 class="font-weight-light mb-0"><a href="{{url_for('player_page', id=scorer['id'])}}">{{ scorer['player'] }}</a></h5></td>
                            <td class="text-center" style="vertical-align: middle;">{{ scorer['goals'] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-sm">

            <div class="card mb-4">
                <div class="card-header text-center">
                    <h5 class="mb-0">Top 10 Assistants</h5>
                </div>
                <table class="table mb-0">
                    <tbody>
                        {% for scorer in statistics['assistants'] %}
                        <tr>
                            <td class="text-center" style="vertical-align: middle;"><img src="{{ scorer['image']}}" alt="{{ scorer['player'] }}" height="50"></td>
                            <td style="vertical-align: middle;"><h5 class="font-weight-light mb-0"><a href="{{url_for('player_page', id=scorer['id'])}}">{{ scorer['player'] }}</a></h5></td>
                            <td class="text-center" style="vertical-align: middle;">{{ scorer['goals'] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="card mb-4">
                <div class="card-header text-center">
                    <h5 class="mb-0">Top 10 Red Cards</h5>
                </div>
                <table class="table mb-0">
                    <tbody>
                        {% for scorer in statistics['red_cards'] %}
                            <tr>
                                <td class="text-center" style="vertical-align: middle;"><img src="{{ scorer['image']}}" alt="{{ scorer['player'] }}" height="50"></td>
                                <td style="vertical-align: middle;"><h5 class="font-weight-light mb-0"><a href="{{url_for('player_page', id=scorer['id'])}}">{{ scorer['player'] }}</a></h5></td>
                                <td class="text-center" style="vertical-align: middle;">{{ scorer['goals'] }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block custom_scripts %}
{% endblock custom_scripts %}